body{
    width: 100%;
    color: #000000;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
.wrapper{
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}
.main{
    flex: 1;
}
h1{
    color: #333333;
    text-align: center;
    display: block;
    margin: 0;
    padding: 1em 0;
    width: 100%;
    border-bottom: solid 1px #333333;
}
ul{
    text-decoration: none;
}
li{
    display: inline-block;
}
a{
    padding: .8em 1em;
    display: block;
    transition: 1s;
    color: #333333;
}
a:hover{
    transition: 1s;
    background-color: #333333;
    color: #ffffff;
}
label{
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}
input{
    width: 100%;
    display: block;
    font-size: 16px;
    padding: 10px;
}
button{
    padding: 10px 25px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}
.main-content{
    margin: 20px 0;
}
.form-box{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 3em;
    background-color: #ffffff;
}
#sign-up-form{
    display: grid;
    gap: 10px;
    grid-template-columns: 45% 45%;
    align-items: center;
}
#message{
    display: block;
    transition: 1s;
    opacity: 0;
}
.user-component{
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-component{
    margin: 0 auto;
    width: 90%;
}
footer{
    width: 100%;
    border-top: solid 1px #333333;
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
    color: #333333;
}

#user-wrapper{
    display: grid;
    gap: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
}

.user-input{
    padding: 15px;
    text-align: left;
}

.user-input label{
    display: block;
    font-weight: bolder;
    text-decoration: underline;
    color: orangered;
    padding: 10px 0
}

#user-title{
    display: block;
    padding: 15px;
    margin: 15px;
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
}

#profile-img{
    width: 150px;
    display: block;
    padding: 15px;
    margin: 15px auto;
}
#profile-img img{
    width: 100%;
    height: auto;
    display: block;
}